[submodule "topics-website"]
	path = topics-website
	url = https://gitlab-old.doc.ic.ac.uk/g1416302/topics-website.git
[submodule "hopfield_network_topics"]
	path = hopfield_network_topics
	url = https://gitlab-old.doc.ic.ac.uk/hopfield-network-jpgsa/hopfield_network_topics.git
[submodule "javadictionary_pmb14"]
	path = javadictionary_pmb14
	url = https://gitlab-old.doc.ic.ac.uk/lab1415_spring/javadictionary_pmb14.git
[submodule "haskellcalculus_pmb14"]
	path = haskellcalculus_pmb14
	url = https://gitlab-old.doc.ic.ac.uk/lab1415_autumn/haskellcalculus_pmb14.git
[submodule "haskelllsystems_pmb14"]
	path = haskelllsystems_pmb14
	url = https://gitlab-old.doc.ic.ac.uk/lab1415_autumn/haskelllsystems_pmb14.git
[submodule "haskellmacroprocessor_pmb14"]
	path = haskellmacroprocessor_pmb14
	url = https://gitlab-old.doc.ic.ac.uk/lab1415_autumn/haskellmacroprocessor_pmb14.git
[submodule "haskellrecursion_pmb14"]
	path = haskellrecursion_pmb14
	url = https://gitlab-old.doc.ic.ac.uk/lab1415_autumn/haskellrecursion_pmb14.git
[submodule "haskellquadratic_pmb14"]
	path = haskellquadratic_pmb14
	url = https://gitlab-old.doc.ic.ac.uk/lab1415_autumn/haskellquadratic_pmb14.git
[submodule "assemblermatrixmultiplication_pmb14"]
	path = assemblermatrixmultiplication_pmb14
	url = https://gitlab-old.doc.ic.ac.uk/lab1415_spring/assemblermatrixmultiplication_pmb14.git
[submodule "javaspreadsheet_pmb14"]
	path = javaspreadsheet_pmb14
	url = https://gitlab-old.doc.ic.ac.uk/lab1415_spring/javaspreadsheet_pmb14.git
[submodule "sqlfilmqueries_pmb14"]
	path = sqlfilmqueries_pmb14
	url = https://gitlab-old.doc.ic.ac.uk/lab1415_spring/sqlfilmqueries_pmb14.git
[submodule "javadiscreteeventsimulation_pmb14"]
	path = javadiscreteeventsimulation_pmb14
	url = https://gitlab-old.doc.ic.ac.uk/lab1415_spring/javadiscreteeventsimulation_pmb14.git
[submodule "javaturtleinterpreter_pmb14"]
	path = javaturtleinterpreter_pmb14
	url = https://gitlab-old.doc.ic.ac.uk/lab1415_spring/javaturtleinterpreter_pmb14.git
[submodule "javarpsls_pmb14"]
	path = javarpsls_pmb14
	url = https://gitlab-old.doc.ic.ac.uk/lab1415_autumn/javarpsls_pmb14.git
[submodule "javapictureprocessing_pmb14"]
	path = javapictureprocessing_pmb14
	url = https://gitlab-old.doc.ic.ac.uk/lab1415_spring/javapictureprocessing_pmb14.git
[submodule "javaloopsandarrays_pmb14"]
	path = javaloopsandarrays_pmb14
	url = https://gitlab-old.doc.ic.ac.uk/lab1415_autumn/javaloopsandarrays_pmb14.git
[submodule "javarecursion_pmb14"]
	path = javarecursion_pmb14
	url = https://gitlab-old.doc.ic.ac.uk/lab1415_autumn/javarecursion_pmb14.git
